<div class="container">
  <h4 id="error">Error</h4>
  <p>Incorrect instruction or format</p>
  <h5>Sample instructions</h5>
  <div id="demo" >
    <ul class="list-group">
      <li class="list-group-item">Draw an isosceles triangle with a height of 200 and a width of 100</li>
      <li class="list-group-item">Draw a square with a side length of 200</li>
      <li class="list-group-item">Draw a scalene triangle with a width of 200 and a height of 200 and a side length of 300.</li>
      <li class="list-group-item">Draw a Parallelogram  with a width of 300 and a height of 150 and a side length of 250.</li>
      <li class="list-group-item">Draw an Equilateral Triangle with a side length of 300.</li>
      <li class="list-group-item">Draw an Pentagon with a side length of 200</li>
      <li class="list-group-item">Draw a rectangle with a width of 250 and a height of 400</li>
      <li class="list-group-item">Draw an Hexagon with a side length of 200</li>
      <li class="list-group-item">Draw an Heptagon with a side length of 200</li>
      <li class="list-group-item">Draw an Octagon with a side length of 200</li>
      <li class="list-group-item">Draw a circle with a radius of 100</li>
      <li class="list-group-item">Draw an Oval with a height of 200 and a width of 100</li>
    </ul>
  </div>
</div>
